/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  border-width: 0;
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#gameButtonArea > div > button {
  height: 200px;
  width: 200px;
  margin: 2px;
  display: relative;
  transform: translateY(-5px);
}

#gameButtonArea > div > button:active, #gameButton > div > #button.lit {
    transition-duration: 100ms;
    transform: translateY(0px);
}

#gameButtonArea > div > button:hover {
    transition-duration: 100ms;
}

.hidden {
  display: none;
}

.button_bottom {
  border-radius: 10px;
  width: fit-content;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#button1 {
  background-color: lightgreen;
}

#button1:active, #button1.lit {
  background-color: #6FE36D;
}

#button1:hover {
  background-color: #6FE36D;
}

#button1_bottom {
  background-color: green;
}

#button2 {
  background-color: lightblue;
}

#button2:hover {
  background-color:  #2A6BEF;
}

#button2:active, #button2.lit {
  background-color: #2358C3;
}

#button2_bottom {
  background-color: #2358C3;
}

#button3 {
  background-color: pink;
}

#button3:hover {
  background-color: #FB5D5D;
}

#button3:active, #button3.lit {
  background-color: #FB5D5D;
}

#button3_bottom {
  background-color: red;
}

#button4 {
  background-color: lightyellow;
}

#button4:hover {
  background-color: #F2F485;
}

#button4:active, #button4.lit {
  background-color: yellow;
}

#button4_bottom {
  background-color: #C6C617;
}

#button5 {
  background-color: #B378FF;
}

#button5:hover {
  background-color: #A762FF;
}

#button5:active, #button5.lit {
  background-color: #A762FF;
}

#button5_bottom {
  background-color: #7C42C6;
}

#github_link {
  display: flex;
  justify-content: space-between;
}

#github_link > a > img {
  transition-duration: 100ms;
  margin-left: auto;
  width: 64px;
  height: 64px;
}

#github_link > a > img:hover {
  transition-duration: 300ms;
  width: 70px;
  height: 70px;
}
